{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<h1 class="txt-center font-w400">La Redoute</h1>
<div class="p-2 my-2 shadow-1 white">
    <h2 class="txt-center font-w400">Bienvenue sur le planning Export</h2>
</div>
<div class="grix fx-center">
<div class="card shadow-1 white">
    <div class="card-header">Connexion</div>
        <div class="card-content">
            <form method="post" class="form-field container">
                {% if error %}
                    <div class="p-3 my-2 rounded-2 error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                
                <div class="form-field">
                    <label for="inputEmail">Adresse email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control rounded-1" required autofocus>
                </div>
                <div class="form-field">
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control rounded-1" required>
                </div>
                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

                <button class="btn shadow-1 rounded-1 small mt-3" type="submit">
                    Se connecter
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
