{% extends 'base.html.twig' %}

{% block title %}Hello TransportOrderController!{% endblock %}

{% block body %}
    <section class="container"> 
        {{ form_start(form) }}
        <div class="card">
            <div class="form-field card-content">
                <div class="grix xs4">
                    {{ form_row(form.code) }}  
                    {{ form_row(form.country) }}
                    {{ form_row(form.carrier) }}
                    <button type="submit" class="btn btn-primary mt-2 btn-block">Rechercher</button>
                </div>    
            </div>
          </div>   
        {{ form_end(form) }}
        <div class="card">
            <div class="card-content responsive-table-2">
                <table class="table hover">
                    <tbody>
                        {% for order in orders %}
                            <tr class="press modal-trigger" data-target="modal-example">
                                <td>{{ order.code }}</td>
                                <td>{{ order.firstDeliveryWarehouse ? order.firstDeliveryWarehouse.adress.country.name : ''}}</td>
                                <td>{{ order.carrier.name }}</td>
                                <td>{{ order.firstloadingStart|date("d/m/Y") }}</td>
                            </tr>
                        {% endfor %}    
                    </tbody>
                </table>
            </div>
        </div>
        {{ knp_pagination_render(orders) }}
            
        
    </section>
    
    <div class="modal white rounded-3" id="modal-example">
        <div class="modal-header">
            Header
            <button data-target="modal-example" class="modal-trigger">
            <i class="fas fa-times"></i> <!-- Use font awesome -->
            </button>
        </div>
        <div class="modal-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum eum in totam amet soluta! Id distinctio iusto
            voluptatum ipsam officia, odit neque, fuga, commodi totam repellendus deserunt quod laborum? Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Assumenda nostrum doloribus quisquam minima minus animi voluptatum illo illum. Vel, labore iure aut sed nobis
            officiis itaque molestias rerum natus vero.
        </div>
        <div class="modal-footer">
            Footer
        </div>
    </div>
    
   
{% endblock %}
