{% extends 'base.html.twig' %}

{% block title %}Realise{% endblock %}

{% block body %}
<section class="container"> 
        <div class="card">
            <div class="card-content responsive-table-2">
                <table class="table hover">
                    <tbody>
                        {% for order in orders %}
                            <tr class="press modal-trigger" data-target="modal-example">
                                <td>{{ order.code }}</td>
                                <td>{{ order.firstDeliveryWarehouse ? order.firstDeliveryWarehouse.adress.country.name : ''}}</td>
                                <td>{{ order.carrier.name }}</td>
                                <td>{{ order.firstloadingStart|date("d/m/Y") }}</td>
                                <td>{{ order.effectiveFirstLoadingEnd ? order.effectiveFirstLoadingEnd|date("d/m/Y") : '' }}</td>
                            </tr>
                        {% endfor %}    
                    </tbody> 
                </table>
            </div>
        </div>
        {# {{{ knp_pagination_render(orders) }}} #} 
    </section>
{% endblock %}
